blenderproc==2.8.0
numpy==2.2.6
opencv-python==4.10.0
pillow==11.3.0
matplotlib==3.10.5
pandas==2.3.1
scipy==1.15.3
h5py==3.14.0
scikit-learn==1.6.1
torch==2.8.0
torchvision==0.23.0
ultralytics==8.3.177
tqdm==4.67.1
PyYAML==6.0.2
requests==2.32.4
